<p style="color: green"><%= notice %></p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td>Departamento</td>
            <td colspan=2></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_por_departamento %>
    </tbody>
</table>

<div>
  <%= link_to "Edit this departamento", edit_departamento_path(@departamento) %> |
  <%= link_to "Back to departamentos", departamentos_path %>

  <%= button_to "Destroy this departamento", @departamento, method: :delete %>
</div>
